// Тут будут стили для хедера
.header {
  z-index: 1000;
  @include container(1400px, 20px, 10px);
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  &__body {
    padding: 2rem 0;
  }

  &__content {
  }

  &__top {
    display: flex;
    align-items: center;
    @include MediaMaxWidth(950px) {
      justify-content: space-between;
    }
  }
  &__top-left {
    flex: 1 0 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5.5rem;
    @include MediaMaxWidth(950px) {
      flex: none;
    }
  }
  &__top-right {
    flex: 1 0 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5.5rem;
    @include MediaMaxWidth(950px) {
      flex: none;
    }
  }

  &__bottom {
    gap: 15px;
    margin: 3rem 0;
    width: 100%;
    display: inline-flex;
    position: relative;
    ::after {
      position: absolute;
      left: 0;
      bottom: -5px;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #d5d5d5;
    }
    @include MediaMaxWidth(965px) {
      display: none;
    }
  }
}
