// Тут будут стили для хедера
.header {
  position: absolute;
  width: 100%;
  &__body {
    padding: 2rem 0;
  }

  &__content {
  }

  &__top {
    display: flex;
  }
  &__top-left {
    flex: 1 0 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5.5rem;
  }
  &__top-right {
    flex: 1 0 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5.5rem;
  }

  &__bottom {
  }
}
