@mixin tran {
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.45s;
}

@mixin ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin container($maxWidth, $paddingDesktop, $paddingMobile) {
  max-width: $maxWidth + ($paddingDesktop * 2);
  margin: 0 auto;
  padding-left: $paddingDesktop;
  padding-right: $paddingDesktop;
  @media (max-width: 767px) {
    padding-left: $paddingMobile;
    padding-right: $paddingMobile;
  }
}

// Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url("../fonts/#{$file_name}.woff2") format("woff2");
    // url('../fonts/#{$file_name}.woff') format('woff');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin fontTTF($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url("../fonts/#{$file_name}.ttf") format("truetype");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// Grids
@mixin gridCards($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
}
