@use "sass:math";

// Миксины
@import "mixins";

// Сброс стилей
@import "reset";

// Базовые стили проекта
@import "base";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
// При желании - можно разбить на страницы
@import "pages/*";
// Модули
@import "modules/*";

.btm-cancel {
  background: #c41f3a;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background: #dd2543;
  }
}
