.block-about {
  &__body {
    overflow-x: hidden;
  }

  &__content {
    @include container(1400px, 20px, 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-height: 500px;
    @include MediaMaxWidth(784px) {
      min-height: none;
    }
  }

  &__info {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include MediaMaxWidth(784px) {
      flex: 0 0 100%;
    }
  }

  &__h3 {
    font-weight: 400;
    font-size: 2.7rem;
    color: #222;
  }

  &__p {
    color: #555;
    font-size: 1.6rem;
  }

  &__benefits {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__img {
  }

  &__value {
    font-size: 4rem;
    color: #888;
  }

  &__text {
    font-size: 1.1rem;
    color: #888;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -10%;
    @include MediaMaxWidth(1440px) {
      margin-right: -20%;
    }
    @include MediaMaxWidth(1024px) {
      margin-right: -30%;
    }
    @include MediaMaxWidth(784px) {
      display: none;
    }
  }
}
