.email-block-mobile {
  &__content {
    display: inline-flex;
    gap: 10px;
    padding: 15px 20px;
    width: 100%;
  }
  &__icon {
    fill: #000000;
  }

  &__link {
    box-sizing: content-box;
    padding-left: 1rem;
    font-size: 1.9rem;
    max-width: 280px;
    color: #222;
  }
}
