.mobil-menu {
  display: none;
  @include MediaMaxWidth(965px) {
    &_active {
      display: block;
    }
  }
  &__overlay {
    position: fixed;
    z-index: 9998;
    background: #3a3f44;
    opacity: 0.7;
    width: 100%;
    height: 100vh;
  }
  &__content {
    position: fixed;
    z-index: 9999;
    background-color: #fff;

    max-width: 375px;
    width: 100%;
    height: 100vh;
  }
}
