.nav_mobile {
  @include MediaMaxWidth(965px) {
    .nav {
      &__list {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
      }

      &__item {
        width: 100%;
        padding: 15px 0;
        position: relative;
        ::after {
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          width: 100%;
          height: 0.5px;
          background-color: #8b8b8b;
        }
      }

      &__link {
        padding: 5px 20px;
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
.nav_desktop {
  flex: 1 0;
  .nav {
    &__list {
      width: 100%;
      display: inline-flex;
      justify-content: space-around;
    }

    &__item {
    }

    &__link {
      font-size: 1.8rem;
      font-weight: 700;
      color: $textcolor;
      padding: 5px;
    }
  }
}
