.phone-block-mobile {
  &__content {
    display: inline-flex;
    gap: 10px;
    padding: 15px 20px;
    width: 100%;
    position: relative;
    ::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 0.5px;
      background-color: #8b8b8b;
    }
  }

  &__icon {
    fill: #000000;
  }

  &__text {
    padding-left: 1rem;
  }

  &__phone {
    word-spacing: 0.3rem;
    color: #222;
    font-weight: 500;
    font-size: 2rem;
  }
}
