.products-index {
  &__body {
  }

  &__content {
    @include container(1440px, 20px, 10px);
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__h3 {
    font-weight: 400;
    font-size: 2.7rem;
  }

  &__link {
    color: #c41f3a;
    font-size: 1.6rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }

  &__p {
  }
}
