.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    padding: 30px 20px;
    border: 1px solid #e0e0e08a;
    box-sizing: border-box;
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    @include MediaMaxWidth(784px) {
      flex: 0 0 100%;
    }
  }

  &__link {
  }

  &__img {
    min-width: 120px;
    min-height: 120px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link-text {
    font-weight: 500;
    font-size: 2rem;
  }

  &__text {
    font-weight: 300;
    font-size: 1.5rem;
  }
}
