@mixin partners-flex {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.partners-slider {
  overflow-x: hidden;
  margin: 0 auto;

  padding: 12px 0;
  &__list {
    transition: all 0.5s ease-in-out;
    @include partners-flex;
    scrollbar-width: none; // firefox
    -ms-overflow-style: none; // IE/Edge
    justify-content: flex-start;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    min-width: 120px;
    width: 40vw;
    max-width: 168px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 14px rgba(180, 180, 180, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

// Desktop вид
@media (min-width: 700px) {
  .partners-slider__item {
    min-width: 180px;
    width: 10vw;
    max-width: 200px;
    padding: 24px 18px;
  }
  .partners-slider__list {
  }
}
